/* @font-face {
    font-family: 'OpenSans-Regular';
    src: url(../font/OpenSans-Regular.ttf);
} */  

    
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6e7ea9;;
}

.btn-free {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    text-decoration: none;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    letter-spacing: 3px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.grid-item h3  {
    font-size: 20px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    text-align: center;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-text {
   font-size: 16px;
    color: #7581a1;
    font-weight: 400;
}

.grid-text :last-child {
    font-size: 16px;
    color: #192b59;
    font-weight: 700;
}

.grid-text :last-child span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 400;
}

.page-subscribe h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 600;
}

.page-subscribe h2 span {
    font-size: 14px;
    letter-spacing: 3px;
    color: #00bffe;
    font-weight: 800;
}

.page-subscribe p {
    font-size: 18px;
    color: #dfe8ff;
    font-weight: 400;
}

.page-subscribe input {
    font-size: 14px;
    color: #b1c3ee;
    font-weight: 400;
}

.page-subscribe button {
    font-size: 14px;
    letter-spacing: 3px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    background-color: #1085e4;
    text-transform: uppercase;
    border-style: none;
}

.page-software h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
}

.page-software p {
    font-size: 16px;
    color: #7581a1;
    font-weight: 400;
    line-height: 26px;
}

.page-software dt {
    font-size: 16px;
    color: #5a6789;
    font-weight: 700;
}

.page-software dd {
    font-size: 14px;
    line-height: 24px;
    color: #7581a1;
    font-weight: 400;
}

.page-stat h2 span {
    font-size: 16px;
    letter-spacing: 3px;
    color: #1085e4;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.page-stat h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    text-align: center;
}

.page-stat span {
    font-size: 60px;
    letter-spacing: -2px;
    color: #bacbdc;
    font-weight: 700;
    text-align: center;
}

.page-stat li {
    font-size: 14px;
    color: #1085e4;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    list-style-type: none;
}

.page-app h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
}

.page-app p {
    font-size: 16px;
    color: #7581a1;
    font-weight: 400;
}

.page-app p span {
    font-size: 16px;
    letter-spacing: 3px;
    color: #c4d2dd;
    font-weight: 700;
    text-transform: uppercase;
}

.page-analitics h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
}

.page-analitics p {
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

.page-analitics a {
    width: 230px;
    height: 60px;
    border-radius: 30px;
    background-color: #1085e4;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.page-analitics2 h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
}

.page-analitics2 p {
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

.page-analitics2 a {
    width: 230px;
    height: 60px;
    border-radius: 30px;
    background-color: #1085e4;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.page-screen h2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    text-align: center;
}

.page-screen h2 span {
    font-size: 18px;
    letter-spacing: 4px;
    color: #1085e4;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.page-clients {
    background-color: #1085e4;
}

.page-clients h2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 600;
}

.page-clients h2 span {
    font-size: 18px;
    letter-spacing: 4px;
    color: #85c8ff;
    font-weight: 800;
}

.page-pricing-plans {
    font-size: 14px;
    color: #8085b1;
    font-weight: 400;
    text-align: center;
}

.page-pricing-plans h2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    text-align: center;
}

.page-pricing-plans h2 span {
    font-size: 18px;
    letter-spacing: 4px;
    color: #1085e4;
    font-weight: 800;
    text-align: center;
}

.page-our-team h2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.page-our-team h2 span {
    font-size: 18px;
    letter-spacing: 4px;
    color: #85c8ff;
    font-weight: 800;
    text-align: center;
}

.page-our-team div {
    font-size: 26px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    text-align: center;
}

.page-our-team div span {
    font-size: 14px;
    letter-spacing: 3px;
    color: #1a88e1;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.page-free-trail-form h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
}

.page-free-trail-form form {
    font-size: 14px;
    color: #8995b3;
    font-weight: 400;
}

.page-free-trail-form form a {
    width: 230px;
    height: 60px;
    border-radius: 30px;
    background-color: #1085e4;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.page-footer{
    background-color: #192b59;
}

.page-footer p {
    font-size: 16px;
    color: #b6bae0;
    font-weight: 400;
}

.page-footer p span {
    font-size: 16px;
    color: #1085e4;
    font-weight: 400;
    text-transform: uppercase;
}