/* @font-face {
    font-family: 'OpenSans-Regular';
    src: url(../font/OpenSans-Regular.ttf);
} */  

    
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6e7ea9;;
}

.btn-free {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    text-decoration: none;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    letter-spacing: 3px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.grid-item h3  {
    font-size: 20px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    text-align: center;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}


